In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lata,40.1629,-8.3327,78.04,65,55,7.99,PT,2021-07-24 18:41:08
1,1,Bethel,41.3712,-73.4140,83.01,34,23,3.36,US,2021-07-24 18:41:09
2,2,Hermanus,-34.4187,19.2345,54.63,59,19,2.35,ZA,2021-07-24 18:39:28
3,3,Atuona,-9.8000,-139.0333,78.31,69,82,16.37,PF,2021-07-24 18:41:09
4,4,Busselton,-33.6500,115.3333,56.08,70,100,15.43,AU,2021-07-24 18:36:44

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,14,Ushuaia,-54.8000,-68.3000,40.62,81,40,3.44,AR,2021-07-24 18:37:57
19,19,Te Anau,-45.4167,167.7167,38.41,89,100,3.33,NZ,2021-07-24 18:41:14
20,20,Barrow,71.2906,-156.7887,41.02,93,90,0.00,US,2021-07-24 18:41:04
21,21,Tasiilaq,65.6145,-37.6368,42.96,98,100,5.73,GL,2021-07-24 18:39:31
26,26,Punta Arenas,-53.1500,-70.9167,42.91,75,75,18.41,CL,2021-07-24 18:39:37
35,35,New Norfolk,-42.7826,147.0587,41.72,87,100,8.59,AU,2021-07-24 18:41:20
37,37,Pevek,69.7008,170.3133,36.88,93,100,9.64,RU,2021-07-24 18:41:21
39,39,Tiksi,71.6872,128.8694,40.03,86,26,5.50,RU,2021-07-24 18:41:21
44,44,Hobart,-42.8794,147.3294,46.26,71,100,7.00,AU,2021-07-24 18:41:23
59,59,Hawera,-39.5917,174.2833,45.46,87,3,12.46,NZ,2021-07-24 18:41:28

In [11]:
preferred_cities_df.count()

City_ID       64
City          64
Lat           64
Lng           64
Max Temp      64
Humidity      64
Cloudiness    64
Wind Speed    64
Country       64
Date          64
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
14       Ushuaia      AR     40.62 -54.8000  -68.3000
19       Te Anau      NZ     38.41 -45.4167  167.7167
20        Barrow      US     41.02  71.2906 -156.7887
21      Tasiilaq      GL     42.96  65.6145  -37.6368
26  Punta Arenas      CL     42.91 -53.1500  -70.9167
35   New Norfolk      AU     41.72 -42.7826  147.0587
37         Pevek      RU     36.88  69.7008  170.3133
39         Tiksi      RU     40.03  71.6872  128.8694
44        Hobart      AU     46.26 -42.8794  147.3294
59        Hawera      NZ     45.46 -39.5917  174.2833

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Ushuaia,AR,40.62,-54.8000,-68.3000,Albatros Hotel
19,Te Anau,NZ,38.41,-45.4167,167.7167,Kingsgate Hotel Te Anau
20,Barrow,US,41.02,71.2906,-156.7887,King Eider Inn
21,Tasiilaq,GL,42.96,65.6145,-37.6368,The Red House
26,Punta Arenas,CL,42.91,-53.1500,-70.9167,Hotel Dreams Del Estrecho
...,...,...,...,...,...,...
496,Leshukonskoye,RU,44.56,64.8989,45.7622,Pryalitsa Hostel
508,Broken Hill,AU,42.51,-31.9500,141.4333,Royal Exchange Hotel
517,Sisimiut,GL,40.12,66.9395,-53.6735,Hotel Sisimiut
521,Nyrob,RU,44.22,60.7330,56.7202,Gostinitsa
550,Murchison,NZ,39.00,-41.8000,172.3333,OFF THE BEATEN TRACK ACCOMMODATION & BIKE HIRE.

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))